body{


}

#fo{
	margin-top: 50px;
	font-size: 20px;
	font-family: cursive;
	text-align: center;
}

#fo input{
	width: 200px;
	height: 25px;
	border-radius: 20px;
}

#btn{
	background: linear-gradient(purple,powderblue);
	color: white;
	padding: 10px;
	border-radius: 20px;
	font-size: 16px;
	text-decoration: none;

}
a{
	text-decoration: none;
	color: white;
}
.fe{
	margin-right: 0px;
}